<template>
    <Navbar/>
    <div class="flex justify-center items-center py-36 bg-white" v-show="!signupSuccess">
        <form class="p-4 w-full md:p-0 md:w-2/3 lg:w-5/12" @submit="(e)=>handleSubmit(e)">
            <h2 class="text-3xl text-gray-900 my-4 font-semibold">Formulaire d'inscription</h2>
            <h2 class="text-xl text-gray-900 my-4 font-semibold">{{$t('signup.blocs.bloc1.titre')}}</h2>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="mb-6">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc1.element1')}}</label>
                    <input type="name" id="name" :class="`border-2 py-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 ${nameIsNull?'border border-red-500':''}`" v-model="name">
                </div>
                <div class="mb-6">
                    <label for="surname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc1.element2')}}</label>
                    <input type="surname" id="surname" :class="`border-2 py-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 ${surnnameIsNull?'border border-red-500':''}`" v-model="surname">
                </div>
            </div>
            <div class="mb-6">
                <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc1.element3')}}</label>
                <input type="date" id="date" :class="`border-2 py-2 border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 block w-full p-2.5 ${birthDateIsNull?'border border-red-500':''}`" v-model="bithDate">
            </div>
            <div class="mb-6">
                <label for="lieu" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc1.element4')}}</label>
                <input type="lieu" id="lieu" :class="`border-2 py-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 ${birthLocationIsNull?'border border-red-500':''}`" v-model="birthLocation">
            </div>
            <div class="mb-6">
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc1.element5')}}</label>
                <div class="relative flex justify-start items-center w-full lg:px-2 py-2.5 rounded-lg border-2 mb-6">
                    <div class="w-full cursor-pointer z-10 p-2" @click="showDropdownNationality=!showDropdownNationality">{{nationality}}</div>
                    <div class="absolute top-3.5 right-2 cursor-pointer" v-if="!showDropdownNationality">
                        <icon :data="icons.Dropdown" original />
                    </div>
                    <ul class="absolute top-full z-20 bg-white border-2 w-full lg:w-60 h-64 flex flex-col p-2" v-if="showDropdownNationality">
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('nationality',e.target.textContent)}">Togo</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('nationality',e.target.textContent)}">Benin</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('nationality',e.target.textContent)}">Burkina Fase</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('nationality',e.target.textContent)}">Nigéria</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('nationality',e.target.textContent)}">Ghana</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('nationality',e.target.textContent)}">Cote d'Ivoire</li>
                    </ul>
                </div>
            </div>
            <div class="mb-6">
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc1.element6')}}</label>
                <div class="relative flex justify-start items-center w-full lg:px-2 py-2.5 rounded-lg border-2 mb-6">
                    <div class="w-full cursor-pointer z-10 p-2" @click="showDropdownCountry=!showDropdownCountry">{{country}}</div>
                    <div class="absolute top-2 right-2 cursor-pointer" v-if="!showDropdownCountry">
                        <icon :data="icons.Dropdown" original />
                    </div>
                    <ul class="absolute top-full z-10 bg-white border-2 w-full lg:w-60 h-64 flex flex-col p-2" v-if="showDropdownCountry">
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('country',e.target.textContent)}">Togo</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('country',e.target.textContent)}">Benin</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('country',e.target.textContent)}">Burkina Fase</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('country',e.target.textContent)}">Nigéria</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('country',e.target.textContent)}">Ghana</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('country',e.target.textContent)}">Cote d'Ivoire</li>
                    </ul>
                </div>
            </div>
            <h2 class="text-xl text-gray-900 my-4 font-semibold">{{$t('signup.blocs.bloc2.titre')}}</h2>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc2.element1')}}</label>
                <input type="email" id="email" :class="`border-2 py-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 ${emailIsNull?'border border-red-500':''}`" v-model="email">
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc2.element2')}}</label>
                <input type="email" id="otherEmail" class="border-2 py-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5" v-model="otherEmail">
            </div>
            <div class="mb-6">
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc2.element3')}}</label>
                <div :class="`flex justify-center items-center py-1 rounded-lg border-2 w-full ${telIsNull?'border border-red-500':''}`">
                    <div class="relative flex justify-start items-center py-2.5 w-20">
                        <div class="w-full cursor-pointer z-10 px-2" @click="showDropdownCodeTel=!showDropdownCodeTel">+{{codeTel}}</div>
                        <div class="absolute top-2 right-2 cursor-pointer" v-if="!showDropdownCodeTel">
                            <icon :data="icons.Dropdown" original />
                        </div>
                        <ul class="absolute top-full z-10 bg-white border-2 w-60 h-64 flex flex-col p-2" v-if="showDropdownCodeTel">
                            <li class="m-2 cursor-pointer" @click="(e)=>{changeState('codeTel',e.target.value)}" value="+228">+228 Togo</li>
                            <li class="m-2 cursor-pointer" @click="(e)=>{changeState('codeTel',e.target.value)}" value="+229">+229 Bénin</li>
                            <li class="m-2 cursor-pointer" @click="(e)=>{changeState('codeTel',e.target.value)}" value="+226">+226 Burkina Fase</li>
                            <li class="m-2 cursor-pointer" @click="(e)=>{changeState('codeTel',e.target.value)}" value="+224">+224 Nigéria</li>
                            <li class="m-2 cursor-pointer" @click="(e)=>{changeState('codeTel',e.target.value)}" value="+223"> +223 Ghana</li>
                            <li class="m-2 cursor-pointer" @click="(e)=>{changeState('codeTel',e.target.value)}" value="+225"> +225 Cote d'Ivoire</li>
                        </ul>
                    </div>
                    <input type="text" :class="`w-4/5`" placeholder="67 XX XX XX" v-model="tel">
                </div>
            </div>
            <h2 class="text-xl text-gray-900 my-4 font-semibold">{{$t('signup.blocs.bloc3.titre')}}</h2>
            <div class="mb-6">
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc3.element1')}}</label>
                <div class="relative flex justify-start items-center w-full p-0 py-2.5 rounded-lg border-2 mb-6">
                    <input type="text" readonly :value="diplome" placeholder="Slectionner votre diplome" class="w-full cursor-pointer px-2 h-8 flex items-center" @click="showDropdownDiplome=!showDropdownDiplome">
                    <div :class="`absolute top-3 right-2 cursor-pointer transform ${showDropdownDiplome ? 'rotate-180 top-4' :'rotate-0 '}`" @click="showDropdownDiplome=!showDropdownDiplome">
                        <icon :data="icons.Dropdown" original />
                    </div>
                    <div class="absolute top-3 right-8 cursor-pointer z-10" v-if="diplome!=''" @click="resetDiplome">
                        <icon :data="icons.Close" original />
                    </div>
                    <ul class="absolute top-full z-10 bg-white border-2 w-full h-64 flex flex-col p-2 letf-0" v-if="showDropdownDiplome">
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">Baccalauréat</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">BAC+1</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">BAC+2</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">Licence</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">Maitrise</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">Master</li>
                        <li class="m-2 cursor-pointer" @click="(e)=>{changeState('diplome',e.target.textContent)}">Doctorat</li>
                    </ul>
                </div>
            </div>
            <div class="mb-6">
                <label for="intitule" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{$t('signup.blocs.bloc3.element2')}}</label>
                <input type="text" id="intitule" :class="`border-2 py-3.5 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 ${intituleDiplomeIsNull?'border border-red-500':''}`" v-model="intituleDiplome">
            </div>
            <h2 class="text-xl text-gray-900 my-4 font-semibold">{{$t('signup.blocs.bloc4.titre')}}</h2>
            <div class="relative z-0 w-full mb-6 group">
                <p class="block mb-2 text-sm font-medium text-gris dark:text-white">{{$t('signup.blocs.bloc4.element1')}}</p>
                <textarea name="repeat_intitule" id="floating_repeat_password" :class="`block py-3.5 px-0 w-full text-sm text-gray-900 border-2 rounded-lg border-gray-300 appearance-none dark:text-white peer ${ experiencesProfNull ?'border border-red-500':''}`" v-model="experiencesProf"></textarea>
            </div>
            <button type="submit" class=" text-greenFlou bg-greenCompact font-medium rounded-lg text-xl w-full px-5 py-2.5 text-center">{{$t('signup.textButton')}}</button>
        </form>
    </div>
    <div class="flex justify-center items-center bg-white p-28" v-show="signupSuccess">
        <div class="flex flex-col justify-center items-center w-4/5 lg:w-2/5 lg:p-20 bg-white shadow-xl rounded-md">
            <div class="flex justify-center items-center bg-greenFlou w-12 h-12 rounded-full">
                <icon :data="icons.Checked" height="20" width="20" original />
            </div>
            <h2 class="text-xl text-gray-900 my-4 font-semibold">Candidature envoyée</h2>
            <p class="text-gris font-medium text-center">Votre candidature a été soumise avec succès. Nous vous contacterons pour confirmer votre pré-sélection.</p>
            <div class="w-fit my-6">                
                <button class="text-greenFlou bg-greenCompact focus:ring-4 focus:outline-none font-medium rounded-lg text-xl w-full px-5 py-2.5 text-center">D’accord</button>
            </div>
        </div>
    </div>
    <Footerbar/>
</template>

<script>
import Footerbar from '../../components/footerbar.vue';
import Navbar from '../../components/navbar.vue';
import Dropdown from '../../assets/icons/ic_dropdown.svg'
import Close from '../../assets/icons/ic_close.svg'
import Checked from '../../assets/icons/ic_checked.svg'
    export default {
    components: { 
        Navbar, Footerbar 
    },
    methods: {
        handleSubmit(e){
            e.preventDefault();
            this.isSubmit=true;
            if(!this.verifyDataIsNull(this.name)
            &&!this.verifyDataIsNull(this.surname)
            &&!this.verifyDataIsNull(this.bithDate)
            &&!this.verifyDataIsNull(this.diplome)
            &&!this.verifyDataIsNull(this.email)
            &&!this.verifyDataIsNull(this.tel)
            &&!this.verifyDataIsNull(this.intituleDiplome)
            &&!this.verifyDataIsNull(this.experiencesProf) 
            && this.verifyDataIsNull(this.birthLocation)){
                this.signupSuccess=true;
            }else{
                this.nameIsNull=this.verifyDataIsNull(this.name);
                this.surnnameIsNull=this.verifyDataIsNull(this.surname);
                this.birthDateIsNull=this.verifyDataIsNull(this.bithDate);
                this.diplomeIsNull=this.verifyDataIsNull(this.diplome);
                this.emailIsNull=this.verifyDataIsNull(this.email);
                this.telIsNull=this.verifyDataIsNull(this.tel);
                this.intituleDiplomeIsNull=this.verifyDataIsNull(this.intituleDiplome);
                this.experiencesProfNull=this.verifyDataIsNull(this.experiencesProf);
                this.birthLocationIsNull=this.verifyDataIsNull(this.birthLocation);
            }
        },
        verifyDataIsNull(data){
            return data==''?true:false;
        },
        changeShowDropdown(){
            this.showDropdownCountry = !this.showDropdownCountry
        },
        resetDiplome(){
            this.diplome='';
            this.showDropdownDiplome=true;
        },
        changeState(state,newValue){
            switch (state) {
                case 'nationality':
                    this.nationality = newValue;
                    this.showDropdownNationality = !this.showDropdownNationality;
                    break;
                case 'country':
                    this.country = newValue;
                    this.showDropdownCountry = !this.showDropdownCountry;
                    break;
                case 'codeTel':
                    this.codeTel = newValue;
                    this.showDropdownCodeTel = !this.showDropdownCodeTel;
                    break;
                case 'diplome':
                    this.diplome = newValue;
                    this.showDropdownDiplome = !this.showDropdownDiplome;
                    break;
            
                default:
                    break;
            }
        }
    },
    data() {
        return {
            showDropdownCountry:false,
            showDropdownCodeTel:false,
            showDropdownDiplome:false,
            showDropdownNationality:false,
            signupSuccess:false,
            deleteDiplome:false,
            nameIsNull:false,
            surnnameIsNull:false,
            birthDateIsNull:false,
            diplomeIsNull:false,
            emailIsNull:false,
            telIsNull:false,
            intituleDiplomeIsNull:false,
            experiencesProfNull:false,
            birthLocationIsNull:false,
            isSubmit:false,
            name:'',
            surname:'',
            bithDate:'',
            birthLocation:'',
            country:"Benin",
            nationality:"Benin",
            codeTel:"229",
            diplome:"",
            email:'',
            otherEmail:'',
            tel:'',
            intituleDiplome:'',
            experiencesProf:'',
            icons:{
                Dropdown,
                Close,
                Checked
            }
        }
    },
    mounted() {
        
    },
}
</script>

<style scoped>

</style>