<template>
    <div class="flex flex-col justify-center items-center mb-4">
        <div class="flex justify-center items-center w-14 h-14 rounded-full bg-green-100 mb-2">
            <icon :data="icon" height="20" width="20" original />
        </div>
        <div class="flex flex-col justify-center items-center">
            <h2 class="p-2 text-lg text-black text-center font-medium">{{titre}}</h2>
            <p class="text-center text-md p-2 text-gris font-medium">{{ text }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            icon:Object, 
            titre:String,
            text:String
        },
        component:{

        },
        data() {
            return {
                
            }
        },
        methods: {
            
        },
        mounted() {
            
        },
    }
</script>

<style lang="scss" scoped>

</style>