<template>
    <div class="flex flex-col justify-center items-center w-full md:w-fit p-4 pb-0">
        <h1 class="p-2 smtext-xl  text-3xl lg:text-6xl text-greenCompact mb-4 text-center w-full md:w-2/3 font-bold">{{$t('home.section1.titre')}}</h1>
        <p class="text-center text-xl p-6 text-gris font-medium md:w-3/5 ">{{$t('home.section1.text')}}</p>
        <div class="my-16">
            <router-link to="/signup" class="px-6 p-3 rounded-lg bg-greenCompact text-white sm:text-md md:text-lg font-medium">{{$t('home.section1.TextButton')}}</router-link>
        </div>
        <div class="md:w-full">
            <img :src="images.People" alt="" srcset="">
        </div>
    </div>
</template>

<script>
    import People from '../../assets/images/im_people.webp'
    export default {
        name:'index',
    data(){
        return {
            images: {
                People
            },
        }
    },
    methods:{

    },
    mounted() {
        
    },
    }
</script>

<style scoped>

</style>