<template>
    <div class="bg-white">
        <BlockHead :titre="`${$t('home.section2.titre')}`" :text="`${$t('home.section2.text')}`"/>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 items-center lg:px-28 py-10">
            <Card :icon="icons.Forms" :titre="`${$t('home.section2.blocs.bloc1.titre')}`" :text="`${$t('home.section2.blocs.bloc1.text')}`"/>
            <Card :icon="icons.Hands" :titre="`${$t('home.section2.blocs.bloc2.titre')}`" :text="`${$t('home.section2.blocs.bloc2.text')}`"/>
            <Card :icon="icons.Htag" :titre="`${$t('home.section2.blocs.bloc3.titre')}`" :text="`${$t('home.section2.blocs.bloc3.text')}`"/>
            <Card :icon="icons.PhBrain" :titre="`${$t('home.section2.blocs.bloc3.titre')}`" :text="`${$t('home.section2.blocs.bloc3.text')}`"/>
            <Card :icon="icons.HumainSymbols" :titre="`${$t('home.section2.blocs.bloc3.titre')}`" :text="`${$t('home.section2.blocs.bloc3.text')}`"/>
            <Card :icon="icons.FemelleSymbol" :titre="`${$t('home.section2.blocs.bloc3.titre')}`" :text="`${$t('home.section2.blocs.bloc3.text')}`"/>
        </div>
    </div>
    <div class="bg-gray-50 p-4 lg:p-10 py-16">
        <BlockHead :titre="`${$t('home.section3.titre')}`"/>
        <div class="md:px-28 grid grid-cols-1 lg:grid-cols-2 gap-16 justify-between items-center">
            <Profil :titre="$t('home.section3.blocs.bloc1.titre')" :text="$t('home.section3.blocs.bloc1.text')" :icn="icons.Woman"/>
            <Profil :titre="$t('home.section3.blocs.bloc2.titre')" :text="$t('home.section3.blocs.bloc2.text')" :icn="icons.Man"/>
        </div>
    </div>
    <div class="bg-white py-10">
        <BlockHead :titre="`${$t('home.section4.titre')}`" :text="`${$t('home.section4.text')}`" :text-width="'w-4/5'"/>
        <div class="flex flex-col lg:flex-row justify-between">
            <div class="lg:w-3/5 md:px-28 px-4">
                <div class="p-2">
                    <h2 class="font-bold text-gray-900 mb-4">{{$t('home.section4.blocs.bloc1.titre')}}</h2>
                    <p class="text-gris text-md">{{firstLetterToUpper($t('home.section4.blocs.bloc1.text'))}}</p>
                </div>
                <div class="p-2">
                    <h2 class="font-bold text-gray-900 mb-4">{{$t('home.section4.blocs.bloc2.titre')}}</h2>
                    <p class="text-gris text-md">{{firstLetterToUpper($t('home.section4.blocs.bloc2.text'))}}</p>
                </div>
                <div class="flex gap-4">
                    <div class="p-2">
                        <h2 class="font-bold text-gray-900 mb-4">{{$t('home.section4.blocs.bloc3.titre')}}</h2>
                        <p class="text-gris text-md">{{firstLetterToUpper($t('home.section4.blocs.bloc3.text'))}}</p>
                    </div>
                    <div class="p-2">
                        <h2 class="font-bold text-gray-900 mb-4">{{$t('home.section4.blocs.bloc4.titre')}}</h2>
                        <p class="text-gris text-md">{{firstLetterToUpper($t('home.section4.blocs.bloc4.text'))}}</p>
                    </div>
                </div>
                <div class="p-2">
                    <h2 class="font-bold text-gray-900 mb-4">{{$t('home.section4.blocs.bloc5.titre')}}</h2>
                    <p class="text-gris text-md">{{firstLetterToUpper($t('home.section4.blocs.bloc5.text'))}}</p>
                </div>
                <div class="p-2">
                    <h2 class="font-bold text-gray-900 mb-4">{{$t('home.section4.blocs.bloc6.titre')}}</h2>
                    <p class="text-gris text-md">{{firstLetterToUpper($t('home.section4.blocs.bloc6.text'))}}</p>
                </div>
            </div>
            <div class="lg:w-2/5">
                <img :src="images.Medecins" alt="" srcset="">
            </div>
        </div>
    </div>
</template>

<script>
    import Card from './card.vue';
    import Forms from '../../assets/icons/ic_forms.svg'
    import Hands from '../../assets/icons/ic_hands.svg'
    import Htag from '../../assets/icons/ic_htag.svg'
    import PhBrain from '../../assets/icons/ic_ph-brain.svg'
    import HumainSymbols from '../../assets/icons/ic_humans-symbols.svg'
    import FemelleSymbol from '../../assets/icons/ic_femellesymbole.svg'
    import BlockHead from '../block-head.vue';
    import Profil from '../profil.vue';
    import Woman from '../../assets/icons/ic_woman.svg'
    import Man from '../../assets/icons/ic_man.svg'
    import Medecins from '../../assets/images/im_medecins.webp'
    export default {
        components: {
            Card,
            BlockHead,
            Profil
        },
        methods: {
            firstLetterToUpper(text) {
                console.log(text);
                let textTransform = text.charAt(0).toUpperCase() + text.slice(1);
                console.log(textTransform);
                return textTransform;
            }
        },
        data() {
            return {
                icons:{
                    Forms, Hands,FemelleSymbol,HumainSymbols,PhBrain,Htag,Man,Woman
                },
                images:{
                    Medecins
                }
            }
        },
        mounted() {
            
        },
    }
</script>

<style scoped>

</style>