<template>
    <div class="bg-white flex flex-col justify-center items-center">
        <BlockHead :titre="`${$t('home.section5.titre')}`"/>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-10 md:px-28 pb-20">
            <div class="rounded-2xl bg-white border p-10 py-16 h-full shadow-sm hover:border-greenCompact hover:border-2">
                <div class="flex justify-center items-center p-3 text-violet text-md font-semibold text-center">
                    {{ $t('home.section5.blocs.bloc1.module') }}
                </div>
                <div class="flex justify-center items-center p-3 text-gray-900 text-md font-semibold text-center">
                    {{ $t('home.section5.blocs.bloc1.titre') }}
                </div>
                <ul class="`flex flex-col justify-center items-center`">
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc1.element1') }}</li>
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc1.element2') }}</li>
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc1.element3') }}</li>
                </ul>
            </div>
            <div class="rounded-2xl bg-white border p-10 py-16 h-full shadow-sm hover:border-greenCompact hover:border-2">
                <div class="flex justify-center items-center p-3 text-violet text-md font-semibold text-center">
                    {{ $t('home.section5.blocs.bloc2.module') }}
                </div>
                <div class="flex justify-center items-center p-3 text-gray-900 text-md font-semibold text-center">
                    {{ $t('home.section5.blocs.bloc2.titre') }}
                </div>
                <ul class="`flex flex-col justify-center items-center`">
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc2.element1') }}</li>
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc2.element2') }}</li>
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc2.element3') }}</li>
                </ul>
            </div>
            <div class="rounded-2xl bg-white border p-10 py-16 h-full shadow-sm hover:border-greenCompact hover:border-2">
                <div class="flex justify-center items-center p-3 text-violet text-md font-semibold text-center">
                    {{ $t('home.section5.blocs.bloc3.module') }}
                </div>
                <div class="flex justify-center items-center p-3 text-gray-900 text-md font-semibold text-center">
                    {{ $t('home.section5.blocs.bloc3.titre') }}
                </div>
                <ul class="`flex flex-col justify-center items-center`">
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc3.element1') }}</li>
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc3.element2') }}</li>
                    <li class=" text-center text-md p-2 text-gris font-medium justify-start items-center flex"><div class="w-1 h-1 mr-4 bg-gray-500 rounded-full"></div>{{ $t('home.section5.blocs.bloc3.element3') }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-white flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center-items-center pb-8 px-4 md:px-16">
            <BlockHead :titre="`${$t('home.section6.titre')}`"/>
            <div class="flex flex-col justify-center items-center w-full">
                <div class="py-12 lg:px-20 bg-gray-50 w-full md:4/5 lg:w-2/3 rounded-lg">
                    <p class="text-center m-2 text-gris text-base">{{$t('home.section6.body.titre')}}</p>
                    <p class="text-center m-2 text-gris text-base">{{$t('home.section6.body.text1')}}</p>
                    <p class="text-center m-2 text-greenCompact text-6xl font-semibold">{{$t('home.section6.body.prix')}}<span class="text-xl font-normal">(HT)</span></p>
                    <p class="text-center m-2 text-gris text-base">{{$t('home.section6.body.text2')}}</p>
                    <p class="text-center m-2 text-gris text-base">{{$t('home.section6.body.text3')}}</p>
                    <div class="my-16 flex justify-center items-center">
                        <router-link to="/signup" class="px-6 p-3 rounded-lg bg-greenCompact text-white sm:text-md md:text-lg font-medium">{{$t('home.section1.TextButton')}}</router-link>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center m-4">
                <div class="flex flex-col justify-center items-center lg:w-2/3">
                    <p class="text-center  text-rouge text-base">{{$t('home.section6.footer.text')}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BlockHead from '../block-head.vue';

    export default {
        methods: {
            
        },
        data() {
            return {};
        },
        mounted() {
        },
        components: { BlockHead }
    }
</script>

<style scoped>

</style>