<template>
    <div class="py-20">
        <div class="flex flex-col justify-center items-center w-fit p-4">
            <h1 class="p-2 text-3xl text-blueCompact mb-4 text-center w-2/3 font-bold">{{$t('home.renseign')}}</h1>
        </div>
        <div class="flex flex-row justify-center items-center">
            <div class="flex justify-center items-center text-center p-4 w-fit lg:w-fit">
                <p><span class="text-gris ">Email: </span><span class="border-r-2 p-2"> contact@remaapp.com</span>
                    <span class="text-gris p-2">WhatsApp:  </span> +229 96508130
                </p>
            </div> 
        </div>
        <div class="flex justify-center items-center mt-3">
            <a href="https://learning.remaapp.com" target="_blank" class="px-6 p-3 rounded-lg bg-greenCompact text-white sm:text-md md:text-lg font-medium">{{$t('navbar.buttonText')}}</a>
        </div>
    </div>
</template>

<script>
    export default {
        components: { 

        },
        methods: {
            
        },
        data() {
            return {
                
            }
        },
        mounted() {
            
        },
    }
</script>

<style lang="scss" scoped>

</style>