<template>
    <div class="flex flex-col justify-center items-center w-fit p-4 py-8">
        <h1 class="p-2 text-3xl text-blueCompact mb-4 text-center  font-bold">{{titre}}</h1>
        <p :class="`text-center text-xl text-gris md:px-28 font-normal ${textWidth}`">{{text}}</p>
    </div>
</template>

<script>
    export default {
        props:{
            titre:String,
            text:String,
            textWidth:String
        },
        component:{

        },
        data() {
            return {
                
            }
        },
        methods: {
            
        },
        mounted() {
            
        },
    }
</script>

<style scoped>

</style>