<template>
    <div>
        <div class="bg-greenCompact w-full p-4 lg:pt-10 lg:px-28">
            <div class=" grid md:grid-cols-2 lg:grid-cols-4 gap-12 border-b-2 py-6">
                <div class="flex flex-col justify-start">
                    <h5 class="text-lg text-left text-white font-bold mb-3">{{ $t('footerbar.items.item1.titre') }}</h5>
                    <div class="flex flex-col justify-start">
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item1.1') }}</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item1.2') }}</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item1.3') }}</a>
                    </div>
                </div>
                <div class="flex flex-col justify-start">
                    <h5 class="text-lg text-left text-white font-bold mb-3">{{ $t('footerbar.items.item2.titre') }}</h5>
                    <div class="flex flex-col">
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item2.1') }}</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item2.2') }}</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item2.3') }}</a>
                    </div>
                </div>
                <div class="flex flex-col justify-start">
                    <h5 class="text-lg text-left text-white font-bold mb-3">{{ $t('footerbar.items.item3.titre') }}</h5>
                    <div class="flex flex-col">
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item3.1') }}</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">contact@remaapp.com</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item3.2') }}</a>
                    </div>
                </div>
                <div class="flex flex-col justify-start">
                    <h5 class="text-lg text-left text-white font-bold mb-3">
                        <a href="/" class="text-lg text-left text-white font-bold">
                            {{ $t('footerbar.items.item4.titre') }}
                        </a>
                    </h5>
                    <div class="flex flex-col">
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item4.1') }}</a>
                        <a href="#" class="text-md text-left text-white font-medium my-2">{{ $t('footerbar.items.item4.2') }}</a>
                    </div>
                </div>
            </div>
            <div class="md:flex md:justify-between">
                <div class="flex md:items-center md:justify-center text-white">
                    <icon :data="icons.Logo" height="100" width="200" original/>
                </div>
                <div class="flex md:items-center md:justify-center text-white">
                    {{ $t('footerbar.copyRight') }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Logo from '../assets/icons/ic_logo-white.svg'
export default {
    name:'index',
    data(){
        return {
            icons: {
                Logo,
            },
        }
    },
    methods:{

    },
    mounted() {
        
    },
}
</script>
<style scoped>
    
</style>