<template>
    <nav class="fixed flex justify-center items-center w-full top-0 h-20 border-b z-20 bg-greenFlou">
      <header class="flex justify-center items-center w-full lg:px-28 m-0">
        <div class="flex justify-between w-full items-center">
            <div class="flex justify-between items-center lg:w-2/3 w-1/2">
                <div class="flex justify-start p-0 items-center">
                    <a href="/" class=" font-bold">
                        <icon :data="icons.Logo" height="50" width="165" original />
                    </a>
                </div>
                <ul class="md:flex justify-start items-center md:w-3/5 hidden">
                    <li>
                        <a class="text-md text-gris font-semibold" :href="`/#${toLowerCase($t('navbar.links.1'))}`">{{ $t('navbar.links.1') }}</a>
                    </li>
                    <li>
                        <a class="text-md ml-8 text-gris font-semibold" :href="`/#${toLowerCase($t('navbar.links.2'))}`">{{ $t('navbar.links.2') }}</a>
                    </li>
                    <li>
                        <a class="text-md ml-8 text-gris font-semibold" :href="`/#${toLowerCase($t('navbar.links.3'))}`">{{ $t('navbar.links.3') }}</a>
                    </li>
                </ul>
            </div>
            <div class="pr-2">
              <a href="https://learning.remaapp.com" target="_blank" class="flex-col md:flex-rowlg:px-6 p-3 rounded-lg bg-greenCompact text-white sm:text-md md:text-lg font-medium">{{$t('navbar.buttonText')}}</a>
            </div>
        </div>
      </header>
    </nav>
  </template>
  
  <script>
  import Logo from '../assets/icons/ic_logo.svg'
  export default {
    name: "index",
    data () {
      return {
        icons: {
          Logo,
        },
      }
    },
    methods: {
      toLowerCase(text){
        let textTransform=text;
        return textTransform.toLowerCase();
      }
    },
    mounted() {
    }
  }
  </script>
  
  <style scoped>
  
  </style>
  
  