<template>
    <div class="rounded-2xl bg-white border p-10 py-16 h-full">
        <div class="flex justify-center items-center p-3">
            <icon :data="icn" height="100" width="180" original />
        </div>
        <div :class="`flex flex-col justify-center items-center`">
            <h2 class="p-2 text-2xl text-black text-center font-medium">{{titre}}</h2>
            <p class="text-center text-md p-2 text-gris font-medium">{{ text }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            icn:String,
            titre:String,
            text:String,
            color:String
        },
        methods: {
            
        },
        data() {
            return {
                
            }
        },
        mounted() {
            
        },
    }
</script>

<style lang="scss" scoped>

</style>