<template>
  <div>
    <Navbar/>
    <div class="mt-44 m-0">
      <Certifie/>
      <div :id="`${toLowerCase($t('navbar.links.1'))}`" class="p-0 m-0">
        <Objectifs/>
      </div>
      <div :id="`${toLowerCase($t('navbar.links.2'))}`" class="p-0 m-0">
        <Programmes/>
      </div>
      <div :id="`${toLowerCase($t('navbar.links.3'))}`" class="p-0 m-0">
        <Renseignements/>
      </div>
    </div>
    <Footerbar/>
  </div>
</template>

<script>
import Navbar from '../../components/navbar.vue'
import Footerbar from "../../components/footerbar.vue";
import Certifie from '../../components/home/certifie.vue';
import Objectifs from '../../components/home/objectifs.vue';
import Programmes from '../../components/home/programmes.vue';
import Renseignements from '../../components/home/renseignements.vue';
export default {
  name: "index",
  components:{
    Navbar,
    Footerbar,
    Certifie,
    Objectifs,
    Programmes,
    Renseignements
},
  data () {
    return {
      icons:{
        
      }
    }
  },
  methods: {
    toLowerCase(text){
      let textTransform=text;
      return textTransform.toLowerCase();
    },
  },
  mounted() {
  }
}
</script>

<style scoped>

</style>

